
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<p> Telefoon: 043-3647926</p>
<p> E-mail: dierenasieltongelre@gmail.com</p>
<p> U kunt ook een bezoekje brengen op het onderstaande addres: </p>
<p>	<pre>  <i> Brabant, Eindhoven </i> </pre> </p>
<p>	<pre>  <i> Insulindelaan 130 </i> </pre> </p>
<iframe frameborder="1" scrolling="no" marginheight="0" marginwidth="0" width="700" height="440"
        src="https://maps.google.com/maps?hl=nl&q=insulindelaan130&ie=UTF8&t=m&z=15&iwloc=B&output=embed">
</iframe>

