
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<div class="row">
    <iframe class="iframe-container" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" width="700" height="440"
            src="https://maps.google.com/maps?hl=nl&q=Insulindelaan130&ie=UTF8&t=m&z=15&iwloc=B&output=embed"></iframe>
</div>
